/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 9.6rem;
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.sticky.header {
  position: fixed;
  top: 1.4rem;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  left: 2rem;
  width: auto;
  right: 2rem;
  border: 1px solid #cccccc78;
  border-radius: 2.4rem;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.666);
}

.header .header-overlay {
  position: fixed;
  left: -10px;
  top: -15px;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: -1;
}

.logo {
  height: 6.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0b5fe6;
}

.main-nav .logo-mobile {
  visibility: hidden;
  width: 0;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  display: block;
  height: 4.8rem;
  width: 4.8rem;
  color: #122b54;
}

/* Hero */

.hero {
  margin: 0 auto;
  background: url("/images/banner.png") center no-repeat;
  background-size: cover;
  padding: 4.6rem 3.2rem;
  height: 300px;
  position: relative;
  z-index: -1;
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(8, 3, 33),
    rgba(50, 35, 107, 0)
  );
  /* z-index: 1; */
}

.hero-text-box {
  z-index: 2;
  position: relative;
}

.hero-description {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.section-convert {
  padding-top: 2rem;
}

.section-convert .heading-secondary {
  margin-bottom: 0;
}

.convert-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}

.convert-history-btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  color: #1b65ce;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  font-weight: 500;
}

.convert-history-btn ion-icon {
  font-size: 2.4rem;
}

.convert-history-btn:hover {
  color: #3a7ae9;
}

.convert-transaction {
  margin-bottom: 20px;
}

.convert-transaction-box {
  gap: 16px;
  border: 1px solid #ddd;
  display: inline-flex;
  padding: 6px 10px;
  border-radius: 10px;
}

.convert-transaction-text {
  font-size: 1.6rem;
  margin-bottom: 16px;
}

.convert-transaction-btn {
  color: #0f0e0e;
  align-self: end;
  padding: 1.2rem;
  text-decoration: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 9px;
  transition: all 0.2s linear;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.convert-transaction-btn:hover {
  background-color: #3468bf;
  color: #fff;
}

.convert-transaction-btn.active {
  background-color: #3468bf;
  color: #fff;
}

.transfer {
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  align-items: end;
  gap: 2.4rem;
  margin: 4rem 0;
}

.convert-form-select {
  display: flex;
  column-gap: 1.2rem;
}

.convert-form__input {
  padding: 1.4rem;
  font-size: 2rem;
  height: 60px;
  border-radius: 9px;
  border: 1px solid #ddd;
  width: 100%;
  position: relative;
}

.convert-form__input::-webkit-outer-spin-button,
.convert-form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.convert-to__wrap-input {
  position: relative;
}
.convert-to__wrap-input::before {
  content: "";
  position: absolute;
  height: 3.6rem;
  width: 5.4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAgCAMAAABjCgsuAAAAdVBMVEXaJRzaJR3aJhzbLhvcMBvcNBrdOhrePBneQRnfRRjgSBjgSRjgShfgTRfhThfhUxbhVBbmcRLoexHofBHqgxDsjw7skw7tlg3uoAzyuAn0vgj1xAf30Qb64QP65AP65QP76QL87gL88AH9+AD++gD+/gD//wCxOeYMAAAAqElEQVQ4y+3UyQ6DIBAGYFxxFy3uWvf//R+xTRti00Mdkh79TwTmC8wcYIZm2AWORJEmqCpNMAx6QABCC9RArQPMCZhMCrC454dJesMzeZqEvsetn8Bu8JXGPnmS3D7LN3negxiP+rugNO20qr51aFNi87t+ZsSxxuqGmAgKBQoi6IElyxagpwF3R8cNg3fYXRLIV/naZXLNSaAM1CooSYBRT69/6X/gAd2RF2fLz2bYAAAAAElFTkSuQmCC");
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 1px 2px rgba(185, 76, 76, 0.2);
  color: #fff;
  border-radius: 4px;
  z-index: 1;
}

.convert-to__wrap-input .convert-form__input {
  padding-left: 72px;
}

.convert-swap {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.convert-swap-btn {
  padding: 1.4rem;
  font-size: 2.6rem;
  border-radius: 50%;
  border: none;
  background-color: #174693;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.convert-swap-btn:hover {
  background-color: #3468bf;
  transform: scale(1.2);
}
.transfer--swap .convert-form {
  order: 3 !important;
}
.transfer--swap.convert-submit {
  order: 2;
}
.transfer--swap .convert-to {
  order: 1;
}

.convert-form,
.convert-to {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.convert-to {
  order: 3;
}

.convert-form label,
.convert-to label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}

.convert-form {
  order: 1;
}
.convert-info-error {
  text-align: center;
  font-size: 1.6rem;
  color: #d20c0c;
  margin-bottom: 2rem;
}

.convert-info-error {
  font-size: 1.4rem;
}

.convert-info-text {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #191717;
  font-style: italic;
}

.convert-info-text strong {
  font-weight: 500;
  color: #191919;
}

.exchange-rate {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: -1px 0px 22px rgba(130, 127, 127, 0.2);
}

.exchange-rate table thead tr:first-child {
  background-color: #174693;
  color: #fff;
}

.exchange-rate__note {
  font-size: 1.4rem;
  color: #767676;
  padding: 24px 0px 20px 16px;
  color: #191717;
}

.exchange-rate__note li {
  list-style: inside;
  line-height: 1.8rem;
}

.exchange-rate__note li + li {
  margin-top: 10px;
}

.exchange-rate__note li strong {
  font-weight: 500;
  color: #191919;
}

.countries-supported {
  padding-top: 2rem;
}

.countries-supported .heading-secondary {
  text-align: center;
}

.countries-supported__box {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  padding: 10px 0px 30px 0px;
}

.countries-supported__list {
  display: flex;
  animation: scroll-left 50s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.countries-supported__list li {
  flex: 0 0 auto;
  padding: 0 2rem;
  width: 180px;
  height: 100px;
}

.countries-supported__list li p {
  text-align: center;
  font-size: 1.6rem;
  padding-top: 6px;
  font-weight: 500;
}

.countries-supported__list li img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 19px -1px rgba(130, 127, 127, 0.2);
  border-radius: 10px;
  object-fit: cover;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #333;
}

.footer-container {
  padding-bottom: 0;
}

.footer {
  background: #ecebeb;
  padding: 40px 0px;
}

.footer-social {
  display: flex;
  justify-content: end;
  grid-column: span 2;
  gap: 2.4rem;
  font-size: 1.6rem;
  color: #767676;
  align-items: center;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-social-link:link,
.footer-social-link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: #174693;
  transition: all 0.3s;
}

.footer-social-link:hover,
.footer-social-link:active {
  color: #2c6cd2;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-about {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2.4rem;
  color: #767676;
  padding: 0 6.4rem;
  line-height: 1.6rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.history-convert {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  transition: all 0.5s;
  animation: fadeIn 0.16s linear;
  transform: scale(1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.history-convert__content {
  background-color: #fff;
  padding: 2.4rem 4.8rem;
  border-radius: 10px;
  box-shadow: 0px 0px 19px -1px rgba(130, 127, 127, 0.2);
  position: relative;
  width: 800px;
}

.history-convert__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-convert__close {
  border: none;
  background: none;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #333;
  position: absolute;
  top: 1.8rem;
  right: 2.4rem;
}

.history-convert__close:hover {
  color: #c91e15;
}

.history-convert__list {
  margin-top: 2.4rem;
  height: 50vh;
  overflow-y: auto;
}

.history-convert__item {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1.6rem;
}

.history-convert__detail {
  margin-top: 1.6rem;
}

.history-convert__type {
  font-weight: 500;
  color: #000000;
  display: inline-block;
  border-radius: 5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}

.history-convert__empty {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  margin-top: 2.4rem;
}

.history-convert__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
}

.history-convert__time {
  color: #282727e0;
}

.history-convert__amount-from,
.history-convert__amount-to {
  font-weight: 500;
  color: #333;
  font-size: 1.6rem;
  line-height: 2.6rem;
  background-color: #155b33;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  margin-top: 1rem;
  width: max-content;
  word-break: break-all;
}

.history-convert__amount-from {
  background-color: #fff7e6;
  color: #d46b08;
  border: 1px solid #ffd591;
}

.history-convert__amount-to {
  background-color: #f6ffed;
  color: #389e0d;
  border: 1px solid #b7eb8f;
}

.history-convert__clear {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
}

.history-convert__btn {
  background-color: #c91e15;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
  display: flex;
  align-items: start;
  gap: 0.8rem;
}

.history-convert__btn:hover {
  background-color: #d73d35;
}

.history-convert__btn-icon {
  display: flex;
  align-items: center;
}

.table-rate__currency {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.table-rate__currency img {
  height: 2.4rem;
}

#convert-select img {
  height: 2.4rem;
}

.page-loading__container {
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.251);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: 0.6s;
}

.page-loading__icon {
  width: 50px;
  padding: 8px;
  border-radius: 50%;
  aspect-ratio: 1;
  background: #23b4dd;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
