* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  line-height: 1;
  font-weight: 400;
  color: #333;
  overflow: hidden;
}

*:focus {
  outline: none;
}

li {
  list-style: none;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  color: #fff;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 2.6rem;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem 2.4rem 3.2rem;
}

strong {
  font-weight: 500;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.4rem;
  margin: 0.5em 0 0.75em;
  font-style: italic;
}

table tr:first-child th {
  border-top: none;
}

table tr {
  background-color: #ffffff;
}

table tr:hover {
  background-color: #e8eef8;
}

table tr td:first-child,
table tr th:first-child {
  border-left: none;
}

table tr td:first-child,
table tr td:nth-child(2) {
  font-weight: 600;
}

table tr td:last-child,
table tr th:last-child {
  border-right: none;
}

table th,
table td {
  padding: 3.2rem;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  font-size: 1.4rem;
  text-transform: uppercase;
}

table td {
  font-size: 1.6rem;
}

select {
  flex: 1;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 21px;
  transition: 0.4s;
  min-width: 100px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  height: 60px;
  cursor: pointer;
}

select,
::picker(select) {
  appearance: base-select;
}

select:hover,
select:focus {
  background: #ffffff;
}
select::picker-icon {
  color: #999;
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
}
option {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 160px;

  border: 1px solid #ddd;
  background: #fff;
  padding: 18px;
  transition: 0.4s;
  text-align: center;
}
option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:hover,
option:focus {
  background: #bbcdea;
}

option:checked {
  font-weight: bold;
}
option::checkmark {
  display: none;
}
::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}
::picker(select):popover-open {
  opacity: 1;
}
@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}
::picker(select) {
  top: calc(anchor(bottom) + 1px);
  left: anchor(50%);
}
