@media screen and (max-width: 768px) {
  .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .header {
    padding: 0 2.4rem 0 0.4rem;
  }

  .header.sticky {
    padding: 0 2.4rem 0 2.4rem;
  }

  .header,
  .header.sticky {
    left: 1rem;
    right: 1rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  .hero::before {
    background-image: linear-gradient(
      to right,
      rgb(8, 3, 33),
      rgb(50 35 107 / 53%)
    );
  }

  #table-rate th {
    font-size: 1.4rem;
    padding: 2rem 1rem;
  }

  #table-rate td {
    font-size: 1.4rem;
    padding: 2rem 1rem;
  }

  .transfer {
    grid-template-columns: 1fr;
  }

  .convert-swap-btn {
    transform: rotate(90deg);
  }

  .convert-swap-btn:hover {
    transform: scale(1.2) rotate(90deg);
  }

  .convert-transaction-box {
    flex-wrap: wrap;
  }

  .convert-transaction-btn {
    padding: 1.2rem 1rem;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 576px) {
  .header,
  .header.sticky {
    padding: 0 1.4rem;
    width: auto;
    left: 1rem;
    right: 1rem;
  }
  .logo {
    height: 5.4rem;
  }

  .container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .exchange-rate {
    overflow-x: auto;
  }

  .header,
  .header.sticky {
    padding: 0 1.4rem;
    /* transform: unset; */
  }
  .main-nav {
    transform: unset;
    background-color: #fff;
    visibility: hidden;
    width: 0;
    z-index: 10;
    position: fixed;
    left: 0;
    border-radius: 0;
    top: 9.6rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    transform: translateY(-20%);
    opacity: 0;
    transition: 0.2s linear;
    box-shadow: 0px 3px 3px 0px #33333321 inset;
  }
  .open-nav .main-nav {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    background-color: #fff;
  }
  .header.sticky .main-nav {
    box-shadow: 0 0rem 2rem -2px rgb(0 0 0 / 23%);
    top: 8.8rem;
    border-radius: 2.4rem;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.8rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .exchange-rate {
    overflow-x: auto;
    max-width: 100%;
  }

  table {
    width: auto;
  }

  th {
    white-space: nowrap;
  }

  .footer-container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-about {
    padding: 0 2.4rem;
    line-height: 1.8rem;
  }
}
